.v-main__wrap {
  background-color: #f0f0f0 !important;
}

body::-webkit-scrollbar
  width: 8px

  &-track
    -webkit-box-shadow: inset 0 0 2px #888

  &-thumb
    background-color: #006832

.scroll::-webkit-scrollbar
  width: 5px

  &-track
    -webkit-box-shadow: inset 0 0 2px #888

  &-thumb
    background-color: #3eb778

pointer {
  cursor: pointer
}

.scrollNav>div::-webkit-scrollbar
  width: 5px

  &-track
    -webkit-box-shadow: inset 0 0 2px #888

  &-thumb
    background-color: #3eb778

pointer {
  cursor: pointer
}

.dateClass {
  font-family: 'Poppins' !important;
  background-color: transparent;
  width: 80%;
  height: 48px !important;
  font-size: 16px !important;
  padding: 12px !important;
  border-bottom: outset;
}

.bg-img
  height: 100% !important
  width: 100% !important
  z-index: 0 !important
  position: absolute !important
  background-position-y: bottom !important
  background-size: cover !important
  background-repeat: no-repeat !important

  
.skekert>div>.v-text-field__details {
  display: none !important
}

.removePadding {
  padding-left: 0px !important;
}

.iconColor>div>div>i {
  color: white !important;
}

.schedDate{
  border: solid 1px #C2C2C2;
  width: 100%
  padding: 6px;
  border-radius: 5px;
}

.errorColor{
  border: solid 2px #ff5252;
  width: 100%
  padding: 6px;
  border-radius: 5px;
}

.v-text-field.v-text-field--enclosed .v-text-field__details {
    padding-top: 0;
    margin-bottom: 0px;
}

.minheightOverflow>div {
  width: 100%;
  min-height: 670px;
  overflow-x: auto;
  overflow-y: hidden;
}

iframe {
 display: block; 
 width: 100%; 
 border: none; 
 overflow-y: auto; 
 overflow-x: hidden;
}

.lessWord {
  white-space: nowrap; 
  width: 400px; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

.croppa-container {
  background-color: lightblue;
  border: 2px solid grey;
  border-radius: 8px;
}

.croppa-container:hover {
  opacity: 1;
  background-color: #8ac9ef;
}
.removeBtn>svg{
  height: 30px !important;
  width: 30px !important
}
.theMask{
  border: solid 1px #C2C2C2;
  width:100%
  padding: 6px;
  border-radius: 5px;
}

.navbarIMG{
  background-size: cover !important;
  background-position: 0px;z-index: 9 !important;
  position: relative !important;
}

.landing-bg {
  height: 100% !important
  width: 100% !important
  position: absolute !important
  background: #FFFFFF !important
}
.slideBar>div>div>div>div{
  height: 5px !important;
}

.landing-bg-img {
  background-repeat: no-repeat !important
  background-size: cover !important
}

.primary-bg-color {
  background: #FFFFFF !important
}

.secondary-bg-color {
  background: #EEEEEE !important
}

.accent-bg-color {
  background: #980806 !important
}

.primary-text-color {
  color: #555555 !important
}

.secondary-text-color {
  color: #FFFFFF !important
}

.accent-text-color {
  color: #980806 !important
}


.transLine>div>div>div>div>.v-input__icon{
  display: none !important;
}
.transLine.theme--light.v-select.v-input--is-disabled .v-select__selections, .theme--light.v-select .v-select__selection--disabled{
  color: #212121 !important;
}
.transLine.theme--light.v-text-field.v-input--is-disabled .v-input__slot:before{
  border-image: repeating-linear-gradient(0deg, #00000000 0, #00000000 2px, transparent 0, transparent 4px) 1 repeat !important;
}
